#main-body{
    margin: 0;
    background: radial-gradient(#ED9DFF, #F700FF)
}

html{
    min-height: 100vh;
}

#heading {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 80px;
    font-weight: 600;
    text-shadow: 2px 2px 2px red;
    text-align: center;
}

#timer {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 50px;
    font-weight: 500;
    text-shadow: 2px 2px 2px red;
    text-align: center;
}

#score {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 50px;
    font-weight: 500;
    text-shadow: 2px 2px 2px red;
    text-align: center;
}


#game-rules{
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}


#card{
    margin: 0px;
    background-color: black;
    height: 150px;
    width: 120px;
}