#main-body{
    margin: 0;
    background: radial-gradient(#ED9DFF, #F700FF)
}

html{
    min-height: 100vh;
}


#heading {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 80px;
    font-weight: 600;
    text-shadow: 2px 2px 2px red;
    text-align: center;
}

#timer {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 50px;
    font-weight: 500;
    text-shadow: 2px 2px 2px red;
    text-align: center;
}

#score {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 50px;
    font-weight: 500;
    text-shadow: 2px 2px 2px red;
    text-align: center;
}


#game-rules{
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}


/* Properties for the card for both sides */
.card{

    height: 150px;
    width: 100px;
}


.card-face{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    backface-visibility: hidden;
}

.card-back{
    position: absolute;
    background-color: pink;
    transform: rotateY(0);
}

.card-front{
    background-color: yellow;
    transform: rotateY(180deg);
}


.overlay-start {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FF6D00;
    font-family: serif;
    font-size: 50px;
    background-color: black;
    opacity: 0.9;
    transition: background-color 500ms, font-size 500ms;
  }

  .overlay-start.visible {
    display: flex;
    animation: overlay-grow 500ms forwards;
  }


/* Classes for the javascript to fire to flip the cards over
   and back again */
.card.visible .card-back{
    transform: rotateY(-180deg);
}

.card.visible .card-front{
    transform: rotateY(0);
}


/* Animation of the image on the front of the card */
.card-value{
    position: relative;
    transition: transform 100ms ease-in-out;
    transform: scale(1);
}

.card-front:hover .card-value {
    transform: scale(1.4);
  }




/* Animation and styles of the star on the card back */
.far{
    font-size: 50px;
    transition: transform 200ms ease-in-out;
    transform: scale(1.0);
}

.card-back:hover .far{
    transform: scale(1.5);
}

/* Animation and styles for the card fronts */
.fab{
    font-size: 50px;
}