#main-body{
    margin: 0;
    background: radial-gradient(#ED9DFF, #F700FF)
}

html{
    min-height: 100vh;
}


#heading {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 80px;
    font-weight: 600;
    text-shadow: 2px 2px 2px red;
    text-align: center;
}

.timer-and-score {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 50px;
    font-weight: 500;
    text-shadow: 2px 2px 2px red;
    text-align: center;
}


#game-rules{
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}

.game-container{
    display: flex;
    display: -ms-flexbox;
}

/* Properties for the card for both sides */
.card{
    height: 150px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: #ED9DFF
}


.card-face{
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    backface-visibility: hidden;
}

.card.visible .card-back{
    transform: rotateY(-180deg);
    transition: transform 500ms ease-out;
}

.card.visible .card-front{
    transform: rotateY(0);
    transition: transform 500ms ease-in-out;
}

.matched .card-front{
    background-color: orange;
    animation: dance 1s linear infinite 500ms;
}

.card-back{
    background-color: pink;
    transform: rotateY(0deg);
    transition: transform 500ms ease-in-out;
}

.card-front{
    background-color: yellow;
    transform: rotateY(180deg);
    transition: transform 500ms ease-in-out;
}

.card-value{
    display: flex;
    transition: transform 500ms ease-in-out;
    transform: scale(0.5);
}

.card-front:hover .card-value{
    transition: transform 500ms ease-in-out;
    transform: scale(0.3);
}

/* Animation and styles of the star on the card back */
.far{
    font-size: 50px;
    transition: 500ms ease-in-out;
    transform: scale(1.0);
}

.card-back:hover .far{
    transform: scale(1.5);
}


.overlay-text {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FF6D00;
    font-family: serif;
    font-size: 50px;
    background-color: black;
    opacity: 0.9;
    transition: background-color 500ms, font-size 500ms;
  }

  .overlay-text-small {
      font-size: 40px;
  }

  .overlay-text.visible {
    display: flex;
    animation: overlay-grow 500ms forwards;
  }



@keyframes dance {
    0%, 100% {
      transform: rotate(0)
    }
    25% {
      transform: rotate(-10deg)
    }
    75% {
      transform: rotate(10deg)
    }
  }